[Desktop Entry]
Exec=kjieba
Name=KJieba
Name[ca]=KJieba
Name[ca@valencia]=KJieba
Name[cs]=KJieba
Name[da]=KJieba
Name[de]=KJieba
Name[el]=KJieba
Name[en_GB]=KJieba
Name[es]=KJieba
Name[fi]=KJieba
Name[fr]=KJieba
Name[gl]=KJieba
Name[hu]=KJieba
Name[id]=KJieba
Name[it]=KJieba
Name[ja]=KJieba
Name[ko]=KJieba
Name[lt]=KJieba
Name[nb]=KJieba
Name[nds]=KJieba
Name[nl]=KJieba
Name[nn]=KJieba
Name[pl]=KJieba
Name[pt]=KJieba
Name[pt_BR]=KJieba
Name[ru]=KJieba
Name[sk]=KJieba
Name[sl]=KJieba
Name[tr]=KJieba
Name[uk]=KJieba
Name[zh_CN]=KJieba
Name[zh_TW]=KJieba
OnlyShowIn=KDE;
Type=Application
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.isoftlinux.kjieba
X-KDE-StartupNotify=false
X-KDE-autostart-phase=0
